services:
  # RabbitMQ Message Broker
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    networks:
      - microservices

  # PostgreSQL Database
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: userdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - microservices

  # Gateway
  gateway:
    build:
      context: ../gateway
      dockerfile: Dockerfile
    container_name: gateway
    env_file: ./env/gateway.env
    depends_on:
      - rabbitmq
    ports:
      - "3000:3000"
    networks:
      - microservices
    volumes:
      - ../gateway:/app/gateway
    command: node dist/main.js
    healthcheck:
      test:
        [
          "CMD",
          "sh",
          "-c",
          "apk add --no-cache wget && wget --spider http://localhost:3000/health",
        ]
      interval: 10s
      timeout: 3s
      retries: 3

  # User Service
  user-service:
    build:
      context: ../user-service
      dockerfile: Dockerfile
    container_name: user-service
    env_file: ./env/user-service.env
    depends_on:
      - rabbitmq
      - redis
      - postgres
      - redis
    networks:
      - microservices
    volumes:
      - ../user-service:/app/user-service
    command: node dist/main.js

  # Email Service
  email-service:
    build:
      context: ../email-service
      dockerfile: Dockerfile
    container_name: email-service
    env_file: ./env/email-service.env
    depends_on:
      - rabbitmq
      - postgres
    networks:
      - microservices
    volumes:
      - ../email-service:/app/email-service
    command: node dist/main.js

  # Template Service
  template-service:
    build:
      context: ../template-service
      dockerfile: Dockerfile
    container_name: template-service
    env_file: ./env/template-service.env
    depends_on:
      - rabbitmq
      - postgres
    networks:
      - microservices
    volumes:
      - ../template-service:/app/template-service
    command: node dist/main.js

  # Queue Service
  queue-service:
    build:
      context: ../queue_service
      dockerfile: Dockerfile
    container_name: queue-service
    env_file: ./env/queue-service.env
    depends_on:
      - rabbitmq
      - postgres
    networks:
      - microservices
    volumes:
      - ../queue_service:/app/queue_service
    command: node dist/main.js

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - microservices

networks:
  microservices:
    driver: bridge

volumes:
  postgres_data:
